/build
/lint
/log
/node_modules
/out*
/pids
/static
.beans
.cache
config/raptor_app.xml
*.configbean
.DS_Store
/dist
*.history/
.idea/
.vscode/
/lib
*.log
.telemetry.json
restarts_*
oom_*
/work
xunit.xml
junit.xml
.xo-resources.json
coverage
/.vscode
/storybook-static