/build
/lint
/log
/node_modules
/out*
/pids
/static
config/jest
config/raptor_app.xml
*.configbean
/lib/**/stories
/lib/**/__tests__
*.history/
.*
*.log
restarts_*
oom_*
/work
xunit.xml
junit.xml
storybook
coverage
/scripts
