name: "reusable flow: Build"

on:
    workflow_call:
        inputs:
            node-version:
                required: true
                type: string

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@master
            - name: Use Node.js ${{ inputs.node-version }}
              uses: actions/setup-node@master
              with:
                  node-version: ${{ inputs.node-version }}
                  cache: 'yarn'
            - name: Install dependencies
              run: yarn --frozen-lockfile
            - name: Build library
              run: yarn build
            - uses: actions/cache@master
              id: restore-build
              with:
                path: ./*
                key: ${{ github.sha }}

    lint-test:
        name: Lint & Test
        runs-on: ubuntu-latest
        needs: [build]

        steps:
            - uses: actions/checkout@master
            - uses: actions/setup-node@master
              with:
                  node-version: ${{ inputs.node-version }}
                  cache: 'yarn'
            - uses: actions/cache@master
              id: restore-build
              with:
                  path: ./*
                  key: ${{ github.sha }}
            - name: Lint
              run: yarn lint
            - name: Test
              run: yarn test
