name: Issue

on:
  issues:
      types:
          - opened

jobs:
    export:
        name: Export
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/export
              with:
                - issueTitle: ${{ github.event.issue.title }}
                - issueUrl: ${{ github.event.issue.html_url }}
                - googleSheetsKey: ${{ secrets.GOOGLE_SHEETS_KEY }}
