name: Pull Request

on:
  pull_request

permissions:
    contents: write

jobs:
    build-test:
        name: Build & Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/setup-node
            - uses: ./.github/actions/build
            - uses: ./.github/actions/test

    analyze:
        name: Analyze
        needs: build-test
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/setup-node
            - uses: ./.github/actions/analyze
    deploy:
        name: Deploy
        needs: build-test
        runs-on: ubuntu-latest
        # Deploy storybook only on branches, ignoring forks
        if: "${{ github.repository_owner == 'ebay' }}"
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/setup-node
            - uses: ./.github/actions/deploy
