name: Push to main

on:
    push:
        branches: [ main ]

jobs:
    build-test:
        strategy:
            matrix:
#                os: [ubuntu-latest, windows-latest]
                os: [ubuntu-latest]
#                node: [14, 16.13.2]
                node: [16.13.2]
        name: Node.js ${{ matrix.node }} @ ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/build
              with:
                node-version: ${{ matrix.node }}
            - uses: ./.github/actions/test
              with:
                node-version: ${{ matrix.node }}
                with-coverage: 'true'

    analyze:
        needs: build-test
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/analyze

    release:
        needs: analyze
        name: Bump & Release
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/release
              with:
                node-version: 16.13.2
                githubToken: ${{ github.token }}
                npmToken: ${{ secrets.NPM_TOKEN }}

    publish-storybook:
        needs: analyze
        name: Publish Storybook
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: ./.github/actions/storybook
              with:
                branch: main
